     <ion-view title="About">
         <ion-content class="has-subheader">
             <div class="list card">
                 <h3>

                  Rakesh

                 </h3>
                 <p>
                 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam pariatur tenetur atque aperiam commodi sapiente voluptas libero, nemo officiis fuga quis. Delectus temporibus facilis sint corporis fugiat, non voluptate nemo.
                 </p>
                 <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel distinctio possimus dicta aut debitis veritatis minima accusantium necessitatibus autem deserunt sed temporibus soluta esse, totam, rerum in ipsa praesentium laboriosam.
                 </p>
             </div>

             
             
       
       
        </ion-content>
      </ion-view>