      <ion-view title="Contact">
          <ion-content class="has-subheader">
              <div class="list card">

                  <div class="item item-avatar">
                      <img src="img/daz.jpg">
                      <h2>Support</h2>
                      <p>contact@davidzongo.com</p>
                      <div class="item-divider" />
                      <h2>Marketing</h2>
                      <p>contact@davidzongo.com</p>
                      <div class="item-divider" />
                      <h2>information</h2>
                      <p>contact@davidzongo.com</p>
                  </div>

                
                               


              </div>
              <p>Conception ZONGOTECH</p> 
          </ion-content>
      </ion-view>